* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: lightsteelblue;
}

h1 {
    background-color: #1E152A;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 225px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    opacity: 0.75;
    cursor: pointer;
}

img {
    object-fit: cover;
    border-radius: 30%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.message-box {
    margin-top: 5rem;
}

#msg {
    margin-top: 5rem;
    background-color: #1E152A;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}